{% extends 'base.html' %}
<title>User Login</title>

{% block title %}
User Login
{% endblock title %}
{% load static %}
{% block style %}

{% comment %} body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
} {% endcomment %}
body {
  margin: 0;
  padding: 0;
  {% comment %} display: flex; {% endcomment %}
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transparent;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  height: 400px;
  background-color: transparent;
  box-shadow: 0 2px 4px rgba(208, 208, 208, 0.1);
  
}

.slogan {
  width: 50%;
  padding: 40px;
  text-align: center;
  opacity: 0;
  animation: fade-in-left 1s ease-in-out forwards;
  
}

.slogan h1 {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 20px;
}

.slogan p {
  font-size: 18px;
  color: #666;
}

 .login-form {
      width: 50%;
      padding: 40px;
      background-color: #f2f2f200;
      opacity: 0;
      animation: fade-in-right 1s ease-in-out forwards;
    }
.login-form h2 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 20px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.login-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-form input[type="submit"]:hover {
  background-color: #555;
}
@keyframes fade-in-left {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
nav{
  background: ##2f2f2f;
  border-bottom: 1px solid #e7d9d9;
  background-size: cover;
  color: #fff;
  

}
{% endblock style %}
{% block body %}  

<nav class="navbar bg-light">
    <div  class="container-fluid">
      <a id="nav" class="navbar-brand" href="#">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-stack" viewBox="0 0 16 16">
          <path d="m14.12 10.163 1.715.858c.22.11.22.424 0 .534L8.267 15.34a.598.598 0 0 1-.534 0L.165 11.555a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.66zM7.733.063a.598.598 0 0 1 .534 0l7.568 3.784a.3.3 0 0 1 0 .535L8.267 8.165a.598.598 0 0 1-.534 0L.165 4.382a.299.299 0 0 1 0-.535L7.733.063z"></path>
          <path d="m14.12 6.576 1.715.858c.22.11.22.424 0 .534l-7.568 3.784a.598.598 0 0 1-.534 0L.165 7.968a.299.299 0 0 1 0-.534l1.716-.858 5.317 2.659c.505.252 1.1.252 1.604 0l5.317-2.659z"></path>
        </svg>
        Auction House
      </a>
    </div>
  </nav>

<br>
  <div class="container">
    <div class="slogan">
      <h1>Just do the buying, we'll do the rest</h1>
      <p>Developed with love and dedication</p>
    </div>
    <div class="login-form">
      <form method="POST">
        {% csrf_token %}
        {% for field in form %}
        <p>
        {% for error in field.errors %}
        <p style="color:red">{{error}}</p>
        {% endfor %}
        </p>
        {% endfor %}
        {% if form.non_field_errors %}
        <div style="color:red">
            <p>{{form.non_field_errors}}</p>
        </div>
        {% endif %}
        
        {{login_form}}<br>
    
    <button class="btn transparent-button pop-out-button" type="submit">Login</button>
      </form>
    </div>
  </div>
<br>
  New User? What are you waiting for?<a href="register"> Register</a>


{% endblock body %}

