<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
    <!-- <title></title> -->
    <!-- Export this -->
    {% block javascript %}{% endblock javascript %}
    <style>
      a:hover{
        color: rgb(98, 98, 98);
      }  
      a {
        color: gray;
        
        text-decoration: none;
      }
      .footer {
        position:relative;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: rgb(190, 190, 190);
        color: black;
        text-align: left;
     }

    {% block style %}

    {% endblock style %} 
    </style>

    <title>
        {% block title%}

        {% endblock title %}
    </title>
</head>
<body>
  {% block nav %}{% endblock nav %}
  <header>

    {% if request.user.is_authenticated %}
    <nav class="navbar px-2 navbar-light bg-light navbar-expand-lg bg-body-tertiary">
      <a class="navbar-brand " href="{% url 'home' %}">
        <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        Auction House
      </a>
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{% static 'img/avatar.png' %}" width="40" height="40" class="d-inline-block align-top" alt="">
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'history' %}">Orders</a></li>
                <li><a class="dropdown-item" href="{% url 'buy_requests' %}">Buy requests</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'about' %}">Your Info</a></li>
                <li><a class="dropdown-item" href="{% url 'payment_info' %}">Saved Payment Info</a></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>

              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    </header>
    {% endif %}
    {% block body %}{% endblock body %}
    

     <br>
     <br>
     <br>
    <div class="footer">
      <div class="about">
        <p>Copyright© and Developed by: </p>
        <p >Himanshu Vishwakarma</p>
        <a href="/about"> Contact Us</a>
      </div>
    </div>


    

</body>
</html>







