{% extends 'base.html' %}
{% load tz %}

{% block style %}

.item-container{
  width:500px;
  heigth:auto;
  border: 2px solid white;
  border-radius:12px;
}

{% endblock style %}
{% block body %}
    <h1>This is history</h1>
    {% for i in items %}
    
        <div class='item-container'>
            Item Name: <a href="{% url 'view_item' i.item_for_sale.item_id %}">{{i.item_for_sale.item_name}}</a><br>
            Seller: {{i.seller_id}}<br>
            Selected Address: {{i.address}}<br>
            Payment Method: {{i.payment_method}}<br>
            Created At: {{i.created_at}}<br>
            Fullfilment Status: {{i.order_status}}
          <a href="{% url 'view_order' i.order_id %}">View Order</a>
        </div>
      </a>
    <br>
    <hr>
    {% endfor %}

    </form>
        
{% endblock body %}

