
{% extends 'base.html' %}

{% block title %}Home
{% endblock title %}

{% block body %}
    
    {% if request.user.is_authenticated %}
        <h3>Hello {{request.user.fname}}</h3>
    {% endif %}
    

   

    <br>
    <br> 
    <form method="get">
        <select name="institute" id="inst" onchange="this.form.submit()">
            <option selected value="">Filter by University</option>
            {% for uni in unis %}
                <option id="{{uni}}" value="{{uni}}">{{uni}}</option>
            {% endfor %}
                
        </select>
        {{selected_uni}} 
    </form>

    
    <br> <br>
    <div class="card-container">
    {% for item_obj in listings.values %}      
    <a href="{% url 'view_item' item_obj.0.item_id %}" class="card">
            <img src="{{item_obj.1.0}}" alt="Item Preview">
            <div class="details">
                <h3 class="name">{{ item_obj.0.item_name }}</h3>
                <p class="category">{{ item_obj.0.item_category }}</p>
                <p class="price">{{ item_obj.0.item_price }}</p>
            </div>

    </a>
    {% endfor %}
</div>
    <br>
    <hr>
    <div class="card-container">

    {% for auction_item_obj in auction_listings.values %}
    <a href="{% url 'view_auction_item' auction_item_obj.0.item_id %}" class="card">
    
        <img src="{{auction_item_obj.1.0}}" alt="Item Preview">
        <div class="details">
            <h3 class="name">{{ auction_item_obj.0.item_name }}</h3>
            <p class="category">{{ auction_item_obj.0.item_category }}</p>
            <p class="price">{{ auction_item_obj.0.starting_price }}</p>
        </div>

    </a>
    {% endfor %}
</div>
{% endblock body %}


{% block javascript %}
<script>
    $(document).ready(function(){

        $('#inst option[value="{{selected_uni}}"]').attr('selected', 'selected')
    })
</script>
{% endblock javascript %}

{% block style %}  
.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    box-sizing: border-box; /* Add box sizing */
    flex: none; /* Disable flex behavior */
    height: 500px; /* Set a fixed height for the cards */
    justify-content: space-between; /* Vertically align the text */
    overflow: hidden; /* Hide any overflowing content */
    transition: transform 0.3s; /* Add a transition for smooth animation */

}


.card img {
    width: 100%;
    height: auto;
    transition: transform 0.3s;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Adjust as needed */
    gap: 20px;
  }
.card img:hover {
    transform: scale(1.1);
}

.card .details {
    margin-top: 10px;
    text-align: left; /* Align text to the left */
    padding: 10px; /* Add some padding around the text */
  overflow: hidden; /* Hide any overflowing text */
}

.card .name {
    font-weight: bold;
    color: black;
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis; /* Add an ellipsis (...) for long text */
}
.card:hover {
    transform: scale(1.05); /* Apply a slight scale transformation on hover */
  }
  

.card .category {
    font-style: italic;
    color: #888;
}
{% comment %} 
.card:hover {
    transform: translateY(-2px); /* Add a slight hover effect */
} {% endcomment %}

.card .price {
    margin-top: 10px;
    font-size: 18px;
    color: black;
} {% endblock style %}