{% extends 'base.html' %}

{% block title %}Home
{% endblock title %}

{% block body %}
<a href="admin">admin</a>
    
    {% if request.user.is_authenticated %}
        <h3>Hello {{name}}</h3>
        <a href="logout">Logout</a>
    {% endif %}
        
    <button ><a href="{% url 'buy' %}">Buy</a></button>
    <button ><a href="{% url 'sell' %}">Post an Ad</a></button>
    <h1>This is the index page</h1>
    <br>
    <h1>This is our homepage</h1>
    <h2>These are the listings</h2>
    <br>

    <form method="get">
        <select name="institute" id="inst" onchange="this.form.submit()">
            <option selected value="">Filter by University</option>
            {% for uni in unis %}
                <option id="{{uni}}" value="{{uni}}">{{uni}}</option>
            {% endfor %}
                
        </select>
        {{selected_uni}} 
    </form>  
    {% comment %} {{listings.values}} {% endcomment %}
    {% for item_obj in listings.values %}       {% comment %}[item, [item_image]]{% endcomment %}
        
        {% comment %} {{"Ix am here"}} {% endcomment %}
        <br>{{ item_obj.0.item_name }}<br>
        <b>{{ item_obj.0.item_category }}</b><br>
        {% for image in item_obj.1 %}
            <a  href="{% url 'view_item' item_obj.0.item_id %}"><img width="300px" src="{{ image }}"></a><br>
        {% endfor %}
    {% endfor %}
{% endblock body %}


{% block javascript %}
<script>
    $(document).ready(function(){

        $('#inst option[value="{{selected_uni}}"]').attr('selected', 'selected')
    })
</script>
{% endblock javascript %}
    