{% extends 'base.html' %}

{% block body %}

<a href="{% url 'add_payment' %}"><button class="btn transparent-button pop-out-button" type="button">Add Card</button></a><br>
    
    {% for i in payment_forms %}  
      <div class="item-container payment-{{i.payment_id}}">
        <br>
        {{i.card_holder_name}}<br>
        XXXX-XXXX-XXXX-{{i.card_number|slice:"-4:"}}<br>
        {{i.expiry}} 
        <a href="{% url 'view_payment' i.payment_id %}">
            <button id="rmwish" type="button" class="btn transparent-button pop-out-button" >Edit Details</button>
        </a>
            <button id="rmcard" type="button" class="btn transparent-button pop-out-button" onclick="rmcard({{i.payment_id}})" >Delete</button>
            <br><br>

      </div>
    <br>

    {% endfor %}
        
{% endblock body %}


{% block javascript %}
    <script>
        function rmcard(payment_id){
            $.ajax({
                url: '{% url "remove_card" %}',
                data: {"payment_id":`${payment_id}`},
                success: function(data){
                    $(`.payment-${payment_id}`).hide()
                }
            })
        }
    </script>
{% endblock javascript %}
    
