{% extends 'base.html' %}
block {% block title %}Sell{% endblock title %}

{% block style %}


input[type='text'], textarea
{
    width:500px;
}
{% endblock style %}
{% block body %}
{% if messages %}
{% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}
{{ form1.errors }}
{{ form1.non_field_errors }}
<br>
<div>
<div class="d-flex justify-content-center">
    <form method="POST" id="post_form" enctype="multipart/form-data">
        {% csrf_token %}
        {% for hidden in form1.hidden_fields %}
            {{hidden}}
        {% endfor %}
        {{ form1.as_p}}
        {{form2.management_form}}
        {% for image in form2 %}
            {{image}}
        {% endfor %}
        <br>
        <input class='btn transparent-button pop-out-button' type="submit" name="submit" value="submit"/>
    </form>
</div>
{% endblock body %}