{% extends 'base.html' %}
block {% block title %}Sell{% endblock title %}

{% block body %}
{% if messages %}
{% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
{% endfor %}
{% endif %}
{{ form1.errors }}
{{ form1.non_field_errors }}
    <form method="POST" id="post_form" enctype="multipart/form-data">
        {% csrf_token %}
        {% for hidden in form1.hidden_fields %}
            {{hidden}}
        {% endfor %}
        {{ form1.as_p}}
        {{form2.management_form}}
        {% for image in form2 %}
            {{image}}
        {% endfor %}
        <input type="submit" name="submit" value="submit"/>
    </form>
    <h1>This is our homepage</h1>
{% endblock body %}